@use "../base/variables" as *;
@use "../utils/functions" as *;
@use "../utils/breakpoints" as *;

.product-preview__wrapper {
  width: 100%;
  display: flex;
  background: $white;
  border-radius: rem(10);
  flex-direction: column;
  overflow: hidden;
  font-family: $montserrat, sans-serif;

  @include breakpoint(medium) {
    width: 35%;
    min-width: rem(750);
    flex-direction: row;
  }

  .product-preview__wrapper-img {
    width: 100%;
    height: rem(350);
    background: url("../assets/image-product-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(medium) {
      width: 50%;
      height: rem(510);
      background: url("../assets/image-product-desktop.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .product-preview__wrapper-content {
    width: 100%;
    padding: rem(30);
    span {
      color: $dark-grayish-blue;
      font-size: rem(16);
      text-transform: uppercase;
      letter-spacing: rem(6);
    }
    h2 {
      font-family: $fraunces, sans-serif;
      font-size: rem(40);
      margin: rem(20) 0;
    }
    p {
      color: $dark-grayish-blue;
      font-size: rem(16);
      line-height: rem(26);
    }
    @include breakpoint(medium) {
      width: 50%;
    }

    .product-preview__wrapper-content-price {
      display: flex;
      width: 100%;
      min-height: rem(50);
      align-items: center;
      padding-bottom: rem(20);
      .product-preview__wrapper-content-price-main {
        font-size: rem(36);
        color: $dark-cyan;
        font-family: $fraunces, sans-serif;
        padding-right: rem(20);
      }
      .product-preview__wrapper-content-price-discount {
        color: $dark-grayish-blue;
        text-decoration: line-through;
      }
    }
    .button {
      &.button-add-to-cart {
        background: $dark-cyan;

        &:hover,
        &:focus {
          background: $dark-cyan-2;
        }
      }
    }
  }
}
